[submodule "cori.data.api"]
	path = packages/cori.data.api
	url = https://github.com/ruralinnovation/cori.data.api.git
[submodule "frontend"]
	path = packages/frontend
	url = git@github.com:ruralinnovation/cdk-amplify-frontend.git
[submodule "packages/graphql-schemas"]
	path = packages/graphql-schemas
	url = git@github.com:ruralinnovation/graphql-schemas.git
